{% extends 'base.html.twig' %}

{% block title %}DAST Login{% endblock %}

{% block body %}
{# <div class="login">
  <h1>Login</h1>
    <form method="post">
      <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div> #}
<div class ="login">
    <form action="{{ path('app_login') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1>Welcome to DAST</h1>
        <input type="email" value="{{ last_username }}" placeholder="Account Email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <input type="password" name="password" placeholder="Password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-primary btn-block btn-large" type="submit">
            Sign In
        </button>
        <a href="{{ path('app_register') }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
            Register
        </a>

    </form>
</div>

{% endblock %}
