{% extends 'base.html.twig' %}

{% block title %}DAST Dashboard{% endblock %}

{% block body %}

<div class="login">
    <div>
        <p style="position:fixed; left: 10px; top: 5px; margin-top: 0px;">You are logged in as {{app.user.email}}</p>
        <a class="link" href="{{ path('app_logout') }}" style="text-decoration:none; color: #ffffff; font-weight: bold; position:fixed; right: 10px; top: 5px; max-width: 100px;">
                    Logout
        </a>
    </div>
    <h1>DAST Dashboard</h1>

    <a href="{{ path('app_new_scan') }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
            Scan A New Target
    </a>
    <a href="{{ path('app_past_scans') }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
            View Previously Executed Target Scans
    </a>
    <a href="{{ path('app_queued_scans') }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
            View Currently Queued Target Scans
    </a>

</div>
{% endblock %}
