{% extends 'base.html.twig' %}

{% block title %}DAST Previous Scans{% endblock %}

{% block body %}

<div class="login">
    <div>
        <p style="position:fixed; left: 10px; top: 5px; margin-top: 0px;">You are logged in as {{app.user.email}}</p>
        <a class="link" href="{{ path('app_logout') }}" style="text-decoration:none; color: #ffffff; font-weight: bold; position:fixed; right: 10px; top: 5px; max-width: 100px;">
                    Logout
        </a>
    </div>
    <h1>View Previously Executed Target Scans</h1>

    <a href="{{ path('app_dashboard') }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
        Back to Dashboard
    </a>

    {% for s in scans %}
        <div class="login" style="width: 400px; height: 200px; margin-left: auto; margin-right: auto; text-align:center;">
        {% if s.status == 'in_progress' %}
            <h3 style="margin-left: auto; margin-right: auto;">Scan Details: {{ s.target }}</h3>
            <p><b>Target: </b>{{ s.target }}</p>
            <p><b>Scan Status: </b>In Progress</p>
            <p><b>Time Requested: </b>{{ s.timeRequested|date() }}</p>
            <p><b>Time Commenced: </b>{{ s.timeCommenced|date() }}</p>
            <br>
        {% endif %}
        {% if s.status == 'complete' %}
            <h3 style="margin-left: auto; margin-right: auto;">Scan Details: {{ s.target }}</h3>
            <p><b>Target: </b>{{ s.target }}</p>
            <p><b>Scan Status: </b>Complete</p>
            <p><b>Time Requested: </b>{{ s.timeRequested|date() }}</p>
            <p><b>Time Commenced: </b>{{ s.timeCommenced|date() }}</p>
            <p><b>Time Completed: </b>{{ s.timeCompleted|date() }}</p>
            <br>
            <a href="{{ path('app_scan_report', {scanId: scan.id}) }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
                    View Report
            </a>
        {% endif %}
        </div>
    {% endfor %}

</div>
{% endblock %}
