{% extends 'base.html.twig' %}

{% block title %}DAST Scan Report{% endblock %}

{% block body %}

<div class="login">
    <div>
        <p style="position:fixed; left: 10px; top: 5px; margin-top: 0px;">You are logged in as {{app.user.email}}</p>
        <a class="link" href="{{ path('app_logout') }}" style="text-decoration:none; color: #ffffff; font-weight: bold; position:fixed; right: 10px; top: 5px; max-width: 100px;">
                    Logout
        </a>
    </div>
    <h1>View Scan Report</h1>

    <a href="{{ path('app_past_scans') }}" class="btn btn-primary btn-block btn-large" style="text-decoration:none">
        Back to Scans
    </a>

    {% if scan.user.id = userId %}
        {% if scan.status != 'waiting' %}
            <td>{{ scan.target }}</td>
            <td>{{ scan.status }}</td>
            <td>{{ scan.timeRequested }}</td>
            <td>{{ scan.timeCommenced }}</td>
            <td>{{ scan.timeCompleted }}</td>
            <td>{{ scan.html }}</td>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
